@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F4F1DE;
}
input::-ms-reveal {
    display: none;
}
.breadcrumb-transition {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }  